################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/API.Template.Default/bin/Debug/netcoreapp3.1
/src/API.Template.Default/obj
/src/API.Template.Default/.vs/API.Template.Default/v16
/src/API.Templa.Default/.vs/API.Templa.Default/v16
/src/API.Templa.Default/API.Templa.Default/bin/Debug/netcoreapp3.1
/src/API.Templa.Default/API.Templa.Default/obj
/src/API.Templa.Default/.vs/API.Templa.Default/v15
